<<<<<<< HEAD
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
}
=======
.wrapper { 
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: minmax(250px, auto); 
  grid-gap: 5px;
} 
>>>>>>> wjw-framework

.menu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.to_do_list {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.calender {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

.task-card-img {
  width: 90%;
  height: 120px;
  background-color: #FFFFFF;
  text-align: center;
}

.task-table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.task-table li{
  margin-top: 10px;
}

.algin-center {
  text-align: center;
}

.today_task_list {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

* {box-sizing: border-box;}

.wrapper > div {
  border: 2px solid #ffa94d;
  border-radius: 5px;
  background-color: #ffd8a8;
  padding: 1em;
  color: #d9480f;
}

body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
<<<<<<< HEAD
=======

.goal_small {
  background-color:#fff4e6;
  border-radius: 5px;
  border: 5px #f76707;
  padding: 10px;
  margin: 10px;
}

.goals { 
  grid-column-start: 1; 
  grid-column-end: 1; 
  grid-row-start: 1; 
}

.in_progress { 
  grid-column-start: 2; 
  grid-column-end: 2; 
  grid-row-start: 1; 

}

.completed { 
  grid-column-start: 3; 
  grid-column-end: 3; 
  grid-row-start: 1; 

}

img {
  display: block;
  margin: auto;
  padding: 10px;
}

p{
  font-weight: bold;
  padding: 0 0 0 20px;
}
>>>>>>> wjw-framework
